.header-container {
    width: 100%;
    color: #85AFEE;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-titulo {
    margin-bottom: 40px;
}



/* Medium devices (tablets, 768px and up)
------------------------------------------------------*/

@media (min-width: 768px) { 

    .header-titulo {
        margin-bottom: 10px;
    }

    .header-imagem {
        display: none;
    }

}