.footer {
    margin-top: 13vh;
    min-width: 45vw;
}

.hr-footer {
    min-width: 74vw;
}

.div-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.6vh;
}

.title-footer {
    font-family: roboto-light;
    font-size: 1.3vh;
}

.div-icons {
    font-size: 2.7vh;
}

.github-icon {
    text-decoration: none;
    color: #85AFEE;
    margin-right: 2.4vw;
}

.linkedin-icon {
    text-decoration: none;
    color: #85AFEE;
}

@media (min-width: 768px) {

    .footer {
        margin-top: 26vh;
    }

}