.admin-container-bigger {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.admin-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-container .header-imagem {
    display: none;
}



/* TextArea Input
------------------------------- */

.admin-form {
    display: flex;
    flex-direction: column;
}

.input-tarefas {
    min-width: 77vw;
    min-height: 9.5vh;
    padding-left: 6.4vw;
    padding-top: 1.7vh;
    border: 2px solid black;
    border-radius: 15px;
    margin-bottom: 4.7vh;
}

.button-registrar-tarefa {
    min-width: 77vw;
    min-height: 5vh;
    border-radius: 1.67vh;
    border: none;
    background: linear-gradient(#9FC5FC, #85AFEE);
    color: #FFF;
    font-size: 2.2vh;
    font-weight: 700;
    box-shadow: 0px 0.89vh 1.1vh rgba(133, 175, 238, 0.35);
    margin-bottom: 3.3vh;
}


/* HR 
----------------------- */

.admin-hr {
    width: 77vw;
    border: 0.2vh solid black;
    color: black;
    margin-bottom: 5.3vh;
}

/* Tarefas
---------------------------- */

.admin-article {
    border: 1px solid #CACACA;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 77vw;
    min-height: 4.5vh;
    background: #FFF;
    border-radius: 15px;
    margin-bottom: 3.5vh;
    padding-left: 5.1vw;
    
}

.admin-tarefas {
    padding-left: 2vw;
    min-width: 35vw;
    font-size: 12px;
    word-break: break-all;
    overflow: hidden;
    white-space: nowrap;
}

.admin-tarefas:hover {
    overflow: visible;
    white-space: normal;
}

.admin-div-icons {
    min-width: 15vw;
    margin-left: 15vw;
    margin-right: 5vw;
}

.admin-icon {
    text-decoration: none;
    color: #85AFEE;
}

.admin-icon-edit {
    width: 15px;
    height: 15px;
    margin-right: 3.8vw;
}

.admin-icon-delete {
    width: 15px;
    height: 15px;
}


/* Logout Button
---------------------------- */


.admin-div-logout {
    display: flex;
    justify-content: end;
    margin-bottom: 2vh;
}

.admin-button-logout {
    margin-right: 10vw;
    min-width: 19vw;
    min-height: 5vh;
    border-radius: 1.67vh;
    border: none;
    background: linear-gradient(#9FC5FC, #85AFEE);
    color: #FFF;
    font-size: 2.2vh;
    font-weight: 700;
    box-shadow: 0px 0.89vh 1.1vh rgba(133, 175, 238, 0.35);
}

.admin-button-logout:hover {
    background: #9FC5FC;
}

.admin-div-footer {
    display: flex;
    justify-content: center;
}


@media (min-width: 768px) {

    .input-tarefas {
        min-width: 0;
        width: 60vw;
    }

    .button-registrar-tarefa {
        min-width: 0;
        width: 60vw;
    }

    .admin-hr {
        min-width: 0;
        width: 60vw;
    }

    .admin-article {
        width: 60vw;
    }

    .admin-div-icons {
        margin-left: 5vw;
    }

    .admin-button-logout {
        min-width: 10vw;
        margin-right: 20vw;
    }

}


@media (min-width: 1200px) {

    .input-tarefas {
        width: 50vw;
    }

    .button-registrar-tarefa {
        width: 50vw;
    }

    .admin-hr {
        width: 50vw;
    }

    .admin-article {
        width: 50vw;
        padding-left: 3vw;
    }

    .admin-tarefas {
        min-width: 30vw;
    }

    .admin-div-icons {
        margin-left: 4vw;
    }

    .admin-button-logout {
        margin-right: 25vw;
    }

}


@media (min-width: 1400px) {

    .input-tarefas {
        padding-left: 3vw;
        width: 35vw;
    }

    .button-registrar-tarefa {
        width: 35vw;
    }

    .admin-hr {
        width: 35vw;
    }

    .admin-article {
        width: 35vw;
    }

    .admin-tarefas {
        min-width: 20vw;
    }

    .admin-div-icons {
        margin-left: 4vw;
    }

    .admin-icon-edit {
        margin-right: 3vw;
    }

    .admin-button-logout {
        min-width: 7.5vw;
        margin-right: 32.5vw;
    }

}